
  /* Container styles */
  .container {
    width: 10000px;
  }
  
  /* Heading styles */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 20px;
    margin-top: 20px;
  }
  
  /* Input and button styles */
  .input-container {
    display: flex;
    margin-bottom: 20px;
  }
  
  .input-container input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .input-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .input-container button:hover {
    background-color: #0056b3;
  }
  
  /* Map and list container */
  .map-list-container {
    display: flex;
  }
  
  .map-list-container > div {
    flex: 1;
    margin-right: 20px;
  }
  
  /* List styles */
  .reviews-container ul {
    list-style: none;
    padding: 0;
  }
  
  .reviews-container ul li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .reviews-container ul li:hover {
    background-color: #f0f0f0;
  }
  
  /* Selected restaurant styles */
  .selected-restaurant {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  /* Photo styles */
 
  .photos-container img {
    width: 100px;
    height: 100px;
  
    margin-right: 5px;
    margin-bottom: 10px;
  }
  
  /* Review styles */
  .reviews-container ul {
    padding-left: 20px;
  }
  
  .reviews-container li {
    margin-bottom: 10px;
  }
  
  .reviews-container p {
    margin: 0;
  }
  
  