
  
  .container {
    max-width: 400px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
  }
  .bck{
    align-items: center;
    justify-content: center;
  }
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .resetDiv{
    background-color: #fff;
    width: 50%;
    margin-left: 400px;
    margin-top: 140px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .resetInput {
    width: 40%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .resetbtn {
    width: 20%;
    padding: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .resetbtn:hover {
    background-color: #0056b3;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
    color: #555;
  }
  
  
  a:hover {
    text-decoration: underline;
  }
  .bckLogin{
   color: blue;
   text-decoration: double;
   margin-right: 90px;
  }
  
  /* Small screens */
@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    margin: 30px;
  }
  
  .resetDiv {
    margin-left: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .resetInput {
    width: 80%;
  }
  
  .resetbtn {
    width: 40%;
  }
  
  .bckLogin {
    margin-right: 90px;
  }
}

/* Medium screens */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .container {
    max-width: 80%;
  }
  
  .resetDiv {
    margin-left: 100px;
    width: 60%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .resetInput {
    width: 60%;
  }
  
  .resetbtn {
    width: 30%;
  }
  
  .bckLogin {
    margin-right: 90px;
  }
}
/* Large screens */
@media screen and (min-width: 993px) {
  .container {
    max-width: 400px;
  }
  
  .resetDiv {
    margin-left: 400px;
    width: 50%;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  .resetInput {
    width: 40%;
  }
  
  .resetbtn {
    width: 20%;
  }
  
  .bckLogin {
    margin-right: 90px;
  }
}
