
.user-roles-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .form-group2 {
    margin-bottom: 15px;
  }
  
  .form-group2 label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  
  .form-group2 input,
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .add-user-button {
    background-color:#047ba0;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-user-button:hover {
    background-color: #047ba0;
  }
  
/* User list styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

thead {
  background-color: #047ba0;
  color: white;
}

th, td {
  border: 1px solid #b6b5b5;
  padding: 8px;
  text-align: left;
}

/* Alternating row colors */
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}